/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

body, input, select, textarea{
  font-size: 1.6rem;
  font-family: Helvetica;
}

.grid-container{
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #203040;
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0.5rem;
}

header a{
  color: white;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: #203040;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}

a:hover{
  color: #ff8000;
}